<p>product-desription works!</p>

<div class="description">
  <img
    src="../../assets/high-angle-fresh-sandwich.jpg"
    alt=""
    style="width: 70%"
  />

<br><br>
  <h1>Plain Masala Sprouts</h1>
  <h2>30₹-40₹</h2>
<br>

  <div class="filters">
    Quantity
    <p>100g</p>
    <p>150g</p>
    <p>200g</p>
    <p>250g</p>
  </div>
<br>
  <div style="display: flex ;justify-content: space-evenly;">
    <div class="counterbutton">
      <div class="count" (click)="Decrement()">-</div>
      <div>
        {{ count }}
      </div>
      <div class="count" (click)="Increment()">+</div>
    </div>
    <button mat-button>Add</button>
  </div>

  <br> <br><br>
  <h1>High protein sandwitch</h1>
  <p>
    Sprouts are seeds that have germinated and become very young plants. This
    germination process usually begins with the seeds being soaked for several
    hours. The soaked seeds are then exposed to the right combination of
    temperature and moisture, and allowed to grow for two to seven days.
  </p>

  <br><br>
  <img src="../../assets/gluten-free.png" alt="" style="width: 70%" />
  <br><br>
  <p>
    A gluten-free diet is essential for managing signs and symptoms of celiac
    disease and other medical conditions associated with gluten.
  </p>

  <br><br><br>
  <img src="../../assets/protienpyramid.png" alt="" style="width: 70%" />
  <br><br><br>
  <h2>Ingredients</h2>
  
    <li>Soyabean</li>
    <li>moong</li>
    <li>peanuts</li>
    <li>black gram</li>
    <li>vegitables</li>
    <li>Masala</li>
  
  <br>
 

</div>
