<app-navigation></app-navigation>
<div class="homehead">
    <div class="topflyer">
      <img src="../assets/Topflyer.jpg" style="width: 100%" />
    </div>
  
    <div
      class="PunchLine"
      style="
        text-align: center;
        padding: 20px;
        background-color: rgb(241, 178, 94);
      "
    >
      <h1>
        Your diet can be
        <p></p>
        tasty and healthy
        <p></p>
        Effortlessly...
      </h1>
      <button
        mat-flat-button
        style="border-radius: 20px; background-color: cadetblue"
      >
        view diets
      </button>
    </div>
    <div
      class="words"
      style="height: 100px; background-color: burlywood; text-align: center"
    >
      <h3 style="background-color: burlywood; padding-top: 20px">
        Its all about Health
      </h3>
    </div>
  </div>
  
  <div class="showcase">
    <div class="displaybox">
      <div style="margin-left: 8px">
        <h3>Chef's special menu</h3>
      </div>
      <!-- <div style="width: 200%;height: max-content;"> <h2>bohot hi khaas</h2></div> -->
      <div class="controlbox">
        <button
          mat-button
          type="button"
          data-bs-target="#Slides"
          data-bs-slide="next"
        >
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span
            ><img src="../../assets/rightIcon.png" alt="" style="width: 30px"
          /></span>
        </button>
  
        <button
          mat-button
          type="button"
          data-bs-target="#Slides"
          data-bs-slide="prev"
        >
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span
            ><img src="../../assets/leftIcon.png" alt="" style="width: 31px"
          /></span>
        </button>
      </div>
    </div>
  
    <div id="Slides" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="../../assets/boxsprouts.jpg" class="d-block w-100" alt="..." />
        </div>
  
        <div class="carousel-item">
          <img src="../../assets/organic.jpg" class="d-block w-100" alt="..." />
        </div>
  
        <div class="carousel-item">
          <img src="../../assets/sixpack.jpg" class="d-block w-100" alt="..." />
        </div>
  
      </div>
    </div>
  </div>
  
  <br />
  <hr style="width: 90%; margin: auto" />
  <br />
  <br />
  <div class="services">
    <h1 style="text-align: center">
      Our services are top quality and we are doing best for your happiness
    </h1>
    <img src="../assets/SelectingOrder.PNG" alt="" style="width: 60%" />
    <h3>Browse and Choose from all our meals</h3>
    <p>Select your fav package and order</p>


    <div style="text-align: center">
      <img src="../assets/delivery.png" alt="" style="width: 60%" />
      <h3>Order your Favourite package</h3>
      <p>Wait for your order to be delivered ,Please Be patience</p>
      <br>
      <img src="../assets/Enjoymeal.png" alt="" style="width: 60%" />
      <h3>Enjoy good and healty life</h3>
      <p>Enjoy the taste of fresh sprouts from our shop</p>
    </div>
    <br>

    <div class="coverCard" style=" position: relative;">
      <img src="../assets/flat-lay-dishes-with-chickpeas-black-pepper - Copy.jpg"
      style="width: 100%; border-top-left-radius: 20px;border-top-right-radius: 20px;">
      
      <div class="tagline" >
        <h1>Our all dishes are tasty and Healthy</h1>
        <p>Sprouting tends to increase nutrient levels in the grain,
           legume, vegetable, nut or seed being sprouted. 
           Sprouts also contain lower levels of antinutrients, 
           making it easier for your body to absorb all the nutrients they contain.</p>
      </div>

      <button mat-button style="border-radius: 20px;background-color: cornflowerblue;" >AboutUs</button>
    
      <div class="blank" style="height: 50px;"></div>
    </div>
    
  </div>
  <div class="blankspace"  style=" height: 50px; z-index: 1; background-color: darkkhaki; "></div>
  <br>

  <div class="recepies" style="text-align: center; height: inherit;">
    <h1>Read our Healthy Recipies</h1>
    <br>
    <div class="recipeCard" style="width: 90%;margin: auto; background-color:lightblue">
        <img src="../assets/high-angle-fresh-sandwich.jpg" 
        style="width: 100%;"
        alt="" srcset="">
        <p style="padding: 20px;">Make a healthy sandwitch using microgreens and vegitables</p>
    </div>
  
  </div>
  <br> <br>
  <hr style="width: 90%; margin: auto" />
  
  <br />
  <div class="Specialities">
    <div class="displaycard">
      <div class="innerIcons">
        <img src="../../assets/sprout.png" alt="" />
      </div>
      <div>
        <p>Locally Home grown</p>
      </div>
    </div>
    <div class="displaycard">
      <div class="innerIcons">
        <img src="../../assets/vegan.png" alt="" />
      </div>
      <div class="description">
        <p>100% Vegan and cruelty free</p>
      </div>
    </div>
    <div class="displaycard">
      <div class="innerIcons">
        <img src="../../assets/vegetables.png" alt="" />
      </div>
      <div class="description">
        <p>Green and healthy veggies</p>
      </div>
    </div>
    <div class="displaycard">
      <div class="innerIcons">
        <img src="../../assets/no-preservatives.png" alt="" />
      </div>
      <div class="description">
        <p>100% Natural without any preservatives</p>
      </div>
    </div>
  </div>
  
  <br />
  <hr style="width: 90%; margin: auto" />
  <br />
  <h1 style="text-align: center; padding: 20px">
    Ingredients that we use are always fresh and ready to make your perfect diet!
  </h1>
  
  <app-footer></app-footer>