  <!-- <app-navigation *ngIf="home"></app-navigation> -->

<div class="footer">
    <div class="bottom">
      <div class="contact">
        <h2>Contact with us</h2>
        <p>+91-7587532275</p>
        <p>sprouts.collinsgmail.com</p>
      </div>
      <br />
      <div class="localization">
        <h2>Localization</h2>
        <p>Sangam Nagar , Indore M.P, 452006</p>
      </div>
      <br />
      <div class="links">
        <h2>Useful Links</h2>
        <li>
          <a href="">Contact us</a>
        </li>
        <br />
        <li>
          <a href="">Shipping & Returns</a>
        </li>
        <br />
        <li>
          <a href="">Help & About us</a>
        </li>
        <br />
        <li>
          <a href="">Refund Policy</a>
        </li>
        <br />
        <li>
          <a href="">Privacy Policy</a>
        </li>
      </div>
      <br />
  
      <div class="paymentlogos">
        <!-- <h6>We accept;</h6> -->
        <img src="../../assets/Gpay.png" alt="" />
        <img src="../../assets/Paytm.png" alt="" />
        <img src="../../assets/PhonePay.png" alt="" />
        <img src="../../assets/Rupay.png" alt="" />
      </div>
      <div class="copyrights">
        <p>© 2024 Sprouts Collins by HealthyGroups | All Rights Reserved |</p>
        <p>Powered by Angular 17</p>
      </div>
    </div>
  </div>
  