.productCards ,img{
    width:150px;
    text-align: center;
}

.filters{
    display: flex;
    justify-content: space-around;
}
.filters p{
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.backdrop{
    background-color: snow;
}

.productCards{
    margin: auto;
}